@import'../scss/case.scss';

.header--top{
  height: auto;
  background: radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
  color: $mainColor;
  padding: 20px;
  .header--pageName{
    margin-top: 0px;
    font-family: $Georgia;
  }
  .header--nav{
    display: flex;
    a{
      display: block;
      color: $italicTextColor;
      text-decoration: none;
      text-align: center;
      padding: 10px 0;
      width: 120px;
      margin-right: 10px;
      background-image: linear-gradient($primeryColorLight, $primeryColorLight);
      background-size: 0 3px, auto;
      background-repeat: no-repeat;
      background-position: center bottom;
      transition: all .2s ease-out;
    }
    a:hover{
      color: #fff;
      background-size: 100% 3px, auto;
    }
    .active{
      color: #fff;
      background-image: linear-gradient($primeryColorDark, $primeryColorDark);
      background-size: 100% 3px, auto;
    }
  }
}
