@import'../scss/case.scss';

.list--wrapper{
  width: $contentWidth;
  margin: auto;
  h2{
    @extend %title;
  }
}
.hero--items--block{
  @extend %text;
  display: flex;
  justify-content: space-between;
  width: $contentWidth;
  background-color: #fff;
  border: 2px solid $primeryColorLight;
  border-radius: 6px;
  margin: 5px 0;
  .hero--items--id{
    width: 30%;
    padding: 10px;
    text-align: center;
  }
  .hero--items--name{
    padding: 10px;
    width: 60%;
  }
}
.hero--items--block:hover{
  cursor: pointer;
  border-color: $primeryColorLight;
  background-color: $primeryColorLight;
}
.activeHero{
  border-color: $primeryColorDark;
  background-color: $primeryColorDark;
}
.hero--choosed{
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .hero--choosed--name{
    width: 100%;
    margin-bottom: 5px;
  }
  &, button{
    @extend %text;
  }
  button{
    padding: 5 10px;
    outline: none;
    border: 2px solid $mainColor;
    border-radius: 5px;
    background-color: #fff;
  }
  button:hover{
    cursor: pointer;
    background-color: $mainColor;
  }
}