<div class="list--wrapper" (click)="choose($event)">
  <h2>
    My Heroes
  </h2>
  <div class="hero--items--block" [id]="hero.id" *ngFor="let hero of heroes"
    [ngClass]="{activeHero: flag && hero.id === yourHero.id}">
    <span class="hero--items--id">
      {{hero.id}}
    </span>
    <span class="hero--items--name">
      {{hero.name}}
    </span>
  </div>
  <div *ngIf="flag" class="hero--choosed">
    <div class="hero--choosed--name">
      {{yourHero.name.toUpperCase()}} is my hero
    </div>
    <button [routerLink]="['/details', yourHero.id]">
      View details
    </button>
    <button class="hero--choosed--remove">
      &#9587;
    </button>
  </div>
</div>