@import '../scss/case.scss';

.details--wrapper{
  width: 300px;
  margin: auto;
  h2{
    @extend %title;
    span{
      @extend %text;
      font-style: italic;
      font-size: 15px;
    }
  }
  .details--first--column{
    @extend %text;
  }
  button{
    @extend %text;
    @extend %button;
    margin-top: 10px;
  }
  button:hover{
    @extend %buttonHover;
  }
}